.stuff {
  background-color: #656565 !important;
  color: #f8f0f3 !important;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

body {
  background-color: #656565 !important;
}
